<apex:page controller="itemImageUpload" sidebar="false" showHeader="false">
  
    <script type="text/javascript">
        pathArray = this.location.toString().split( '/' );
            host = pathArray[2];
            var finalurl='https://'+host+'/'+'{!itemid}';
            
        window.onunload = redir;
        function redir()
        {
            try{
                window.opener.location=finalurl;
            }
            catch(E)
            {
                alert(E);
            }
        }        
    </script>
      <head><title>O2B item image upload</title></head>
  <apex:form >
      <apex:pagemessages id="msg"/>
      <center>
          <apex:inputFile value="{!contentFile}" fileName="{!nameFile}" 
          	contentType="{!contentType}" fileSize="{!sizeFile}" accept="image/*"></apex:inputfile>
          <apex:commandButton action="{!ImageUpload}" value="Upload Image" id="theButton" style="width:85px; border:1px solid #cbcbcb; border-radius:5px; height:26px; line-height:18px; color:#666666; font-family:sans-serif; font-size:12px; margin:5px;" rendered="{!NOT(done)}" status="wait"/>    
          <apex:commandButton onclick="window.close();" value="Close"/>
      </center>
      
      <apex:actionStatus id="wait">
        <apex:facet name="start">
            <apex:outputPanel id="processTran">
                <apex:outputPanel style="position: fixed; top: 0; left: 0; width: 100%; height:100%; z-index: 1100;background-image:url('{!URLFOR($Resource.overlay)}')" layout="block"> 
                    <apex:outputText >&nbsp;</apex:outputText>
                </apex:outputPanel>
                <apex:outputPanel styleClass="loadingPopup" layout="block" > 
                    <c:loading text="Please Wait..." />
                </apex:outputPanel>
            </apex:outputPanel>
        </apex:facet>
      </apex:actionStatus>
  </apex:form>
</apex:page>