<apex:page controller="PaymentStgUpload" id="page_id" showHeader="true" sideBar="false">
<apex:messages style="color:red;"/>
<apex:form >
	<apex:commandLink action="{!backToMain}" value="Back" styleclass="linkbtn"/>
	<apex:commandLink action="{!redirect}" value="Exit" styleclass="linkbtn"/>
</apex:form>
</apex:page>