<apex:page standardController="Payment__c" extensions="RefundController" sidebar="false" title="O2B Refund">
    <apex:stylesheet value="{!URLFOR($Resource.O2B2style)}"/>
    <style>
        #msgdiv table{
            border:none;   
        }
    </style>    
    
    <apex:form >
        <div id="msgdiv"><apex:pageMessages id="msg" rendered="true"/></div>
        <div class="body">
        
            <div class="top_left" style="margin-right:20px;border-bottom:4px solid #0271cf">
                <div class="gradiant" style="height:42px;color:#898584;border-bottom:1px solid #c3c3c3;border-radius:5px 5px 0 0;line-height:42px;font-family:Arial, Helvetica, sans-serif;font-size:18px;">
                    <div style="font-family:Arial, Helvetica, sans-serif;margin-left:10px">Provide Details To Refund Payment</div>
                </div>
                <apex:outputpanel id="details">
                <Table width="100%" cellspacing="0" >
                    <tr class="tablecell">
                        <td class="tableHeader" style="background: linear-gradient(to bottom, #ffffff 0%,#e9e9e9 100%)" align="center">Account:</td>
                        <td height="40" align="center" valign="middle"><apex:outputField value="{!Payment__c.Account__c}"/></td>
                        <td class="tableHeader" style="background: linear-gradient(to bottom, #ffffff 0%,#e9e9e9 100%)" align="center">Invoice:</td>
                        <td height="40" align="center" valign="middle"><apex:outputField value="{!Payment__c.Invoice__c}"/></td>
                        <td class="tableHeader" style="background: linear-gradient(to bottom, #ffffff 0%,#e9e9e9 100%)" align="center">Payment:</td>
                        <td height="40" align="center" valign="middle"><apex:outputLink value="{!URLFOR($Action.Payment__c.View,Payment__c.Id)}" title="Payment" target="__BLANK">{!Payment__c.name}</apex:outputLink></td>
                    </tr>
                    <tr class="tablecell">    
                        <td class="tableHeader" style="background: linear-gradient(to bottom, #ffffff 0%,#e9e9e9 100%)" align="center">Payment Method:</td>
                        <td height="40" align="center" valign="middle">
                            <apex:outputField value="{!Payment__c.Payment_Method__c}"/>
                            <apex:outputLabel rendered="{!Payment__c.Payment_Method__c=='Other'}" value="({!IF(Payment__c.Advance_payment__c!=null,'Advance Payment','Credit Note')})"/>
                            <apex:outputLink rendered="{!Payment__c.Advance_payment__c!=null}" value="{!URLFOR($Action.Advance_payment__c.View,pay.Advance_payment__c)}" target="__BLANK">{!pay.ChikPeaO2B__Advance_payment__r.name}</apex:outputLink>
                            &nbsp;<apex:outputLink rendered="{!Payment__c.Credit_Note__c!=null}" value="/{!URLFOR($Action.Credit_Note__c.View,pay.Credit_Note__c)}" target="__BLANK">{!pay.ChikPeaO2B__Credit_Note__r.name}</apex:outputLink>
                        </td>
                        <td class="tableHeader" style="background: linear-gradient(to bottom, #ffffff 0%,#e9e9e9 100%)" align="center">Payment Amount:</td>
                        <td height="40" align="center" valign="middle"><apex:outputField value="{!Payment__c.Payment_Amount__c}"/></td>
                        <td class="tableHeader" style="background: linear-gradient(to bottom, #ffffff 0%,#e9e9e9 100%)" align="center">Refund Amount:</td>
                        <td height="40" align="center" valign="middle">$<apex:inputText value="{!RefundAmount}" styleClass="text"/></td>
                    </tr>
                    <tr class="tablecell">    
                        <td class="tableHeader" style="background: linear-gradient(to bottom, #ffffff 0%,#e9e9e9 100%)" align="center">Refund Method:</td>
                        <td height="40" align="center" valign="middle">
                            <apex:selectList value="{!selectedoption}" size="1" styleClass="text" required="true">
                                <apex:selectOptions value="{!RefundMethods}"></apex:selectOptions>
                                <apex:actionSupport event="onchange" rerender="details" status="wait"/>
                            </apex:selectList>
                        </td>
                        <td class="tableHeader" style="background: linear-gradient(to bottom, #ffffff 0%,#e9e9e9 100%)" align="center">Refund Reason:</td>
                        <td height="40" align="center" valign="middle">
                            <apex:inputField value="{!refund.Refund_Reason__c}" styleClass="text"/>
                        </td>
                        <td class="tableHeader" style="background: linear-gradient(to bottom, #ffffff 0%,#e9e9e9 100%)" align="center">Total Refunded:</td>
                        <td height="40" align="center" valign="middle">
                            <apex:outputtext value="{!TotalRefund}"/>
                        </td>
                    </tr>
                    <tr class="tablecell">
                        <td class="tableHeader" style="background: linear-gradient(to bottom, #ffffff 0%,#e9e9e9 100%);display:{!IF(selectedoption=='Check','','none')}" align="center">Check Number:</td>
                        <td height="40" align="center" valign="middle" style="display:{!IF(selectedoption=='Check','','none')}">
                            <apex:inputField value="{!refund.Check_Number__c}" styleClass="text"/>
                        </td>
                        <td class="tableHeader" style="background: linear-gradient(to bottom, #ffffff 0%,#e9e9e9 100%);display:{!IF(selectedoption=='Check','','none')}" align="center">Check Date:</td>
                        <td height="40" align="center" valign="middle" style="display:{!IF(selectedoption=='Check','','none')}">
                            <apex:inputField value="{!refund.Check_Date__c}" styleClass="text"/>
                        </td>
                    </tr>
                </Table>
                <div style="height:42px; text-align:center; border-top:1px solid #c3c3c3;">
                    <div style="margin-top:10px; margin-bottom:7px; float:right;">
                        <apex:commandLink value="Refund" action="{!ProcessRefund}" styleClass="linkbtn" reRender="msg,details" status="wait" rendered="{!makerefund}"/>               
                        <apex:commandLink value="Cancel" action="{!cancel}" styleClass="linkbtn" status="wait"/>
                    </div>
                </div>
                </apex:outputpanel>
            </div>
        
        </div>
        
        <apex:actionStatus id="wait">
        <apex:facet name="start">
            <apex:outputPanel id="processTran">
                <apex:outputPanel style="position: fixed; top: 0; left: 0; width: 100%; height:100%; z-index: 1100;background-image:url('{!URLFOR($Resource.overlay)}')" layout="block"> 
                    <apex:outputText >&nbsp;</apex:outputText>
                </apex:outputPanel>
                <apex:outputPanel styleClass="loadingPopup" layout="block" > 
                    <c:loading text="Please Wait..." />
                </apex:outputPanel>
            </apex:outputPanel>
        </apex:facet>
      </apex:actionStatus>
    </apex:form>    
</apex:page>