<apex:page controller="TabPageController" showHeader="true" sidebar="false" standardStylesheets="false" Title="O2B Home">
<style type="text/css">
.btn1{
    -webkit-border-top-left-radius:20px;
    -moz-border-radius-topleft:20px;
    border-top-left-radius:20px;
    -webkit-border-top-right-radius:20px;
    -moz-border-radius-topright:20px;
    border-top-right-radius:20px;
    -webkit-border-bottom-right-radius:20px;
    -moz-border-radius-bottomright:20px;
    border-bottom-right-radius:20px;
    -webkit-border-bottom-left-radius:20px;
    -moz-border-radius-bottomleft:20px;
    border-bottom-left-radius:20px;
    text-indent:0;
    border:1px solid #C9C4C2;
    display:inline-block;
    color:white;
    background-color: #898584;
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height:65px;
    line-height:30px;
    width:131px;
    text-decoration:none;
    text-align:center;
}
.btn1:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #C9C4C2), color-stop(1, #F3EFEE) );
    background:-moz-linear-gradient( center top, #C9C4C2 5%, #F3EFEE 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#061e2f', endColorstr='#F3EFEE');
    text-decoration:none;
}
.btn0{
    -webkit-border-top-left-radius:20px;
    -moz-border-radius-topleft:20px;
    border-top-left-radius:20px;
    -webkit-border-top-right-radius:20px;
    -moz-border-radius-topright:20px;
    border-top-right-radius:20px;
    -webkit-border-bottom-right-radius:20px;
    -moz-border-radius-bottomright:20px;
    border-bottom-right-radius:20px;
    -webkit-border-bottom-left-radius:20px;
    -moz-border-radius-bottomleft:20px;
    border-bottom-left-radius:20px;
    text-indent:0;
    border:1px solid #C9C4C2;
    display:inline-block;
    color:white;
    background-color: #898584;
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height:65px;
    line-height:60px;
    width:131px;
    text-decoration:none;
    text-align:center;
}
.btn0:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #C9C4C2), color-stop(1, #F3EFEE) );
    background:-moz-linear-gradient( center top, #C9C4C2 5%, #F3EFEE 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#061e2f', endColorstr='#F3EFEE');
    text-decoration:none;
}

.finish{
    width:50px;
    height:50px;
}
.finish:hover{
    cursor:pointer;
</style>

<script>
    function urlreturn(){
        //alert(document.location.href);
        var r=document.location.href.valueOf().toLowerCase();
        var s=r.indexOf("apex/");
        var u=r.substr(0,s);
        //alert(u);    
        window.location.href=u;
    }
</script>
<!--<apex:outputLink value="/">Back</apex:outputlink>-->
<!--<apex:image url="{!URLFOR($Resource.Back)}" styleClass="finish" title="Back" onclick="urlreturn();"/>-->

<!--(Do not delete)    
	Removed tabs 
	<td><apex:outputLink value="{!KeyprefixMap['Bank_Account__c']}" target="__BLANK" styleClass="btn0">Bank Accounts</apex:outputlink></td>
    <td><apex:outputLink value="{!KeyprefixMap['Bundled_Item__c']}" target="__BLANK" styleClass="btn0">Bundled Items</apex:outputlink></td>
	<td><apex:outputLink value="{!KeyprefixMap['Credit_Card__c']}" target="__BLANK" styleClass="btn0">Credit Cards</apex:outputlink></td>       
    <td><apex:outputLink value="{!KeyprefixMap['Credit_Note__c']}" target="__BLANK" styleClass="btn0">Credit Notes</apex:outputlink></td>        
                		 
 -->
<table valign="top" style="width:90%;height:600px;" id="grid_menu">
<tr>
     <td with="80%" align="right">
        
            <table  align="center" style="border-collapse:separate;border-spacing:2em;-webkit-border-radius: 40px;-moz-border-radius: 40px;border-radius: 40px;border:15px solid #C9C4C2;">
		<tr>
              <td><apex:outputLink value="{!KeyprefixMap['Advance_payment__c']}" target="__BLANK" styleClass="btn1">Advance Payments</apex:outputlink></td>                    
              <td><apex:outputLink value="{!KeyprefixMap['Agreement__c']}" target="__BLANK" styleClass="btn0">Agreements</apex:outputlink></td>
			  <td><apex:outputLink value="{!KeyprefixMap['Dunning_Rule__c']}" target="__BLANK" styleClass="btn0">Dunning Rules</apex:outputlink></td>
              <td><apex:outputLink value="{!KeyprefixMap['Gateway__c']}" target="__BLANK" styleClass="btn0">Gateways</apex:outputlink></td>
		</tr>				
		<tr>
				<td><apex:outputLink value="{!KeyprefixMap['Gateway_Response__c']}" target="__BLANK" styleClass="btn1">Gateway Responses</apex:outputlink></td>
                <td><apex:outputLink value="{!KeyprefixMap['invoice__c']}" target="__BLANK" styleClass="btn0">Invoices</apex:outputlink></td>
                <td><apex:outputLink value="{!KeyprefixMap['O2B_Setting__c']}" target="__BLANK" styleClass="btn0" style="vertical-align: middle">O2B Settings</apex:outputlink></td>        
                <td><apex:outputLink value="{!KeyprefixMap['order__c']}" target="__BLANK" styleClass="btn0">Orders</apex:outputlink></td>					
        </tr>				
		<tr>
				<td><apex:outputLink value="{!KeyprefixMap['Package__c']}" target="__BLANK" styleClass="btn0">Packages</apex:outputlink></td>	
				<td><apex:outputLink value="{!KeyprefixMap['Payment_Staging__c']}" target="__BLANK" styleClass="btn0">Payment Staging</apex:outputlink></td>
                <td><apex:outputLink value="{!KeyprefixMap['Payment__c']}" target="__BLANK" styleClass="btn0">Payments</apex:outputlink></td>
                <td><apex:outputLink value="{!KeyprefixMap['Price_Book__c']}" target="__BLANK" styleClass="btn0">Price Books</apex:outputlink></td>                    
		</tr>
		<tr>
		        <td><apex:outputLink value="{!KeyprefixMap['Purchase__c']}" target="__BLANK" styleClass="btn0">Purchases</apex:outputlink></td>		
				<td><apex:outputLink value="{!KeyprefixMap['quote__c']}" target="__BLANK" styleClass="btn0">Quotes</apex:outputlink></td>
		        <td><apex:outputLink value="{!KeyprefixMap['Rate_Plan__c']}" target="__BLANK" styleClass="btn0">Rate Plans</apex:outputlink></td>
		        <td><apex:outputLink value="{!KeyprefixMap['Refund__c']}" target="__BLANK" styleClass="btn0">Refunds</apex:outputlink></td>
		</tr>
		<tr>
                <td><apex:outputLink value="{!KeyprefixMap['Shipment__c']}" target="__BLANK" styleClass="btn0">Shipments</apex:outputlink></td>				
                <td><apex:outputLink value="{!KeyprefixMap['Subscription__c']}" target="__BLANK" styleClass="btn0">Subscriptions</apex:outputlink></td>
                <td><apex:outputLink value="{!KeyprefixMap['Usage_History__c']}" target="__BLANK" styleClass="btn0">Usage Histories</apex:outputlink></td>
                <td><apex:outputLink value="{!KeyprefixMap['usage__c']}" target="__BLANK" styleClass="btn0">Usages</apex:outputlink></td>
		</tr>
</table>
        
    </td>
    <td width="25%" align="left" style="max-height:600px;">
       <!-- <apex:iframe frameborder="false" height="600px"  width="550" src="{!Url_Tab_map['DashBoard']}"/>-->
       <div style="max-height:600px;" width="300px" >
        <analytics:reportChart ReportId="{!url1}" hideOnError="false" showRefreshButton="false" size="tiny" cacheResults="false" rendered="{!url1!=null}"/>
        <analytics:reportChart ReportId="{!url2}" hideOnError="false" showRefreshButton="false" size="tiny" cacheResults="false" rendered="{!url2!=null}"/>
        <analytics:reportChart ReportId="{!url3}" hideOnError="false" showRefreshButton="false" size="tiny" cacheResults="false" rendered="{!url3!=null}"/> 
       </div>      
    </td>
    
  </tr>
</table>
    <!--<apex:image url="{!URLFOR($Resource.Back)}" styleClass="finish" title="Back" onclick="urlreturn();"/>
  <div style="width:150px;height:600px;-webkit-border-radius: 40px;-moz-border-radius: 20px;border-radius: 20px;border:10px solid #C9C4C2;"> 
     <apex:iframe frameborder="true" height="600px"  width="150" src="{!Url_Tab_map['DashBoard']}"/>
  </div>-->
</apex:page>